{% extends '../layouts/base.html' %} {% load static %} 
{% block title %} {{title}} {% endblock %}
{% block content %}
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first header">
      <p>{{title}}</p>
    </div>

    <!-- Login Form -->
    <form method="POST">
      {% csrf_token %}
      <input
        type="text"
        id="login"
        class="fadeIn second"
        name="email"
        placeholder="{{field}}"
        required
      />
      <input
        type="password"
        id="password"
        class="fadeIn third"
        name="password"
        placeholder="password"
        required
      />
      {% for message in messages %}
      <p class='text-danger'>{{ message }}</p>
      {% endfor %}
      <input type="submit" class="fadeIn fourth" value="Log In" />
    </form>

    <!-- Remind Passowrd -->
    
  </div>
</div>
{% endblock %}
