{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% block content %}

<div class=" h-100">
    {% include 'include/admin_navbar.html' %}
    <div class='d-flex h-100'>
        {% include 'include/admin_sidebar.html' %}
        <div class="w-100">
            <div class="text-center w-100 header mb-2">{{title}}</div>
            <div class="d-flex pl-3">
                {% if messages %}
                {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}                
                <p class="text-danger text-center m-0 mr-3">{{message}}</p>
                <a href="" class="h-100">
                    <img src="{% static 'logo/x.svg'%}" height="24px">
                </a>
                {% else %}
                <p class="text-success text-center m-0 mr-3">{{message}}</p>
                <a href="" class="h-100">
                    <img src="{% static 'logo/x.svg'%}" height="24px">
                </a>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
            <div class='col-10 h-80 w-100 p-3'>
                <table class="table">
                    <thead>
    
                        <tr>
                            <td>Ticket ID</td>
                            <td>Subjects</td>
                            <td>Priority</td>
                            <td>Created At</td>
                            {% if is_admin %}
                            <td>Action</td>
                            {% endif %}
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in datas %}
                        <tr>
                            <td>{{data.id}}</td>
                            <td>{{data.subject}}</td>
                            <td>{{data.priority}}</td>
                            <td>{{data.created_at}}</td>
                            {% if is_admin %}
                            <td><a class='btn btn-danger sidebar-options mb-2'
                                href="{% url 'delete_ticket' data.id %}">delete</a></td>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% endblock %}
</div>